<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <title>BananaLife</title>

    <script src="{% static "js/jquery-3.1.1.js" %}"></script>
    <script src="{% static "js/pgwmenu.min.js" %}"></script>
    <script src="{% static "js/jssor.slider-22.1.8.min.js" %}"></script>
     <script src="{% static "js/bootstrap.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static "img/banana.jpg" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/pgwmenu.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}" />

</head>
{% endblock %}
<body style="padding:0px; margin:0px; background-color:#fff;font-family:'Open Sans',sans-serif,arial,helvetica,verdana">

{% block navigate %}
    <form method="get" action="/">
    <table style="width: 100%">
        <tr style="height: 56px;vertical-align: middle">
            <td style="font-size: 30px;width: 30%;text-align: center">BananaLife</td>
            <td style="width:40%"><input type="text" style="height: 36px;width: 100%" placeholder="Search" name="search"></td>
            <td style="width: 10%;text-align: center"><button type="submit" style="height: 36px;width: 80px;background-color:#f0f0f0;border: 0px;font-weight: bolder">Search</button></td>
            <td style="width: 20%"></td>
        </tr>
    </table>
    </form>
    <div>
		<ul class="pgwMenu light">
			<li><a href="{% url 'index' %}">Home</a></li>
			<li><a href="#">Project</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
			<li><a href="#">Database</a></li>
			<li><a href="#">Tools</a></li>
			<li><a href="http://wiki.bananalife.top">Wiki</a></li>
			<li><a href="#">Team</a></li>
		</ul>
	</div>


<script type="text/javascript">
$('.pgwMenu').pgwMenu();
    $(document).ready(function () {

    });
</script>

{% endblock %}


{% block body %}
{% endblock %}
{% block font %}
    <div style="background-color:#f0f0f0;width: 100%;height: 36px;"></div>
{% endblock %}
</body>
</html>