{% extends 'base.html' %}
{% load static %}

{% block body %}
    {% autoescape off %}
        <div class="container">
                {% for post in posts %}
                    <div class="row" style="border: 20px;margin: 20px;margin-left:10%;margin-right:10%;background-color: #f0f0f0;border-radius: 20px;">
                        <div class="col-sm-2" style="height: 170px;line-height: 170px;vertical-align: middle;text-align: center"><img id="img-{{ post.id }}" class="img-circle" style="height: 100px;width:100px"></div>
                        <div class="col-sm-10">
                            <a href="/page/{{ post.id }}" ><h2>{{ post.title }}</h2></a>
                            <p style="font-weight: bold" >{{ post.timestamp }}</p>
                            <div ><strong>Viewed:</strong> {{ post.view }}</div>
                            <div ><strong>Author:</strong>  {{ post.author }}</div>
                            <div style="overflow: hidden;text-overflow:ellipsis;height: 42px;color: darkblue;font-weight:bold;margin: 5px" class="des{{ post.id }}">{{ post.body }}</div>
                            <script type="application/javascript">
                                var img=$('.des{{ post.id }}').find('img').attr('src');
                                if (typeof(img) == "undefined")
                                {
                                    $('#img-{{ post.id }}').attr('src','{% static 'img/logo.png' %}');
                                }
                                else
                                {
                                     img=img.replace("\\\"","");
                                    img=img.replace("\\\"","");
                                    //console.log(img);
                                    $('#img-{{ post.id }}').attr('src',img);
                                }



                                $('.des{{ post.id }}').html(delHtmlTag({{ post.body }}));
                                function delHtmlTag(str){
                                    //alert("d");
                                    return str.replace(/<[^>]+>/g,"");
                                }
                            </script>

                        </div>
                    </div>
                {% endfor%}

            <div class="row" style="text-align: center">
                <ul class="pagination pagination-sm" >
                    <li><a href="#">&laquo;</a></li>
                    {% for page in pages %}
                        <li><a href="/blog/{{ page|add:1 }}">{{page|add:1}}</a></li>
                    {% endfor %}
                     <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    {% endautoescape %}

{% endblock %}