{% extends 'base.html' %}

{% block body %}
    <div class="container">
    <table id="table" >

    </table>
    </div>

    <script>
    $('#table').bootstrapTable({
        striped:true,
        sortName:'name',
        search:true,
    columns: [{
        field: 'id',
        title: 'Item ID'
    }, {
        field: 'name',
        title: 'Item Name'
    }, {
        field: 'price',
        title: 'Item Price'
    }],
    data: [{
        id: 1,
        name: 'zengfu',
        price: '$1'
    }, {
        id: 2,
        name: 'Item 2',
        price: '$2'
    }]
});

    </script>
{% endblock %}