{% extends 'base.html' %}
{% block body %}

    <div class="container" style="font-size: 20px;color: darkblue">

        <p class="col-lg-offset-1" >
            <strong>BananaLife</strong> is a open-source platform for hardware and IOT field.<br>
            There always has some interesting things to display.<br>
            <strong>What's the difference of the others?</strong><br>
        </p>
        <ul class="col-lg-offset-1">
            <li>Hardware Open-Source</li>
            <li>Sofeware Open-Source</li>
            <li>Not only showing the project, but also we have detail manual, <strong>everyone</strong> could
            create a similar project!</li>
            <li><strong>We are geekers! Just follow heart!</strong></li>
        </ul>
        <p class="col-lg-offset-1" >
           The <strong>PROJECT</strong> link contains all description of our projects which include
            Hardware and IOT software.<br>
           The <strong>DATABASE</strong> link is a storage, which has IC datasheet we have read, everyone can read and download them.<br>
            The <strong>BLOG</strong> link has some technology articles,the purpose is to share knowledge.<br>
            The <strong>WIKI</strong> link is a professional and official place to tell you everything you didn't know about our projects.
        </p>
    </div>
{% endblock %}



